In [7]:
import os
import sys
sys.path.append("../")
from modeling.trace_graph_model import TraceSpanRepresentation, TraceGraphRepresentation
import json

In [8]:
json_file = open('../tests/data/test_trace.json')
json_trace = json.load(json_file)

In [9]:
graph_trace_span = TraceSpanRepresentation(json_trace)

In [10]:
graph_trace_span.get_nodes()

,project,name,payload,service,host
total-start,,total-start,,,
total-stop,,total-stop,,,
2-start,keystone,wsgi-start,{'info': {'host': 'wally1,public,wally113
2-stop,keystone,wsgi-stop,{'info': {'host': 'wally1,public,wally113
3-start,keystone,db-start,{'info': {'host': 'wally1,public,wally113
3-stop,keystone,db-stop,{'info': {'host': 'wally1,public,wally113
4-start,keystone,db-start,{'info': {'host': 'wally1,public,wally113
4-stop,keystone,db-stop,{'info': {'host': 'wally1,public,wally113
5-start,keystone,db-start,{'info': {'host': 'wally1,keystone,wally113
5-stop,keystone,db-stop,{'info': {'host': 'wally1,keystone,wally113

In [11]:
graph_trace_span.get_edges()

         source      target  weight
0   total-start  total-stop      11
1   total-start     2-start       0
2        2-stop  total-stop       0
3   total-start     4-start       3
4        4-stop  total-stop       0
5   total-start     5-start       8
6        5-stop  total-stop       0
7       2-start      2-stop       2
8       2-start     3-start       1
9        3-stop      2-stop       0
10      3-start      3-stop       1
11      4-start      4-stop       4
12      5-start      5-stop       3

In [12]:
graph_trace = TraceGraphRepresentation(json_trace)

In [13]:
graph_trace.get_nodes()

,project,payload-start,name,payload-stop,service,duration,host
total,,,total,,,11,
2,keystone,{'info': {'host': 'wally1,wsgi,{'info': {'host': 'wally1,public,2,wally113
3,keystone,{'info': {'host': 'wally1,db,{'info': {'host': 'wally1,public,1,wally113
4,keystone,{'info': {'host': 'wally1,db,{'info': {'host': 'wally1,public,4,wally113
5,keystone,{'info': {'host': 'wally1,db,{'info': {'host': 'wally1,keystone,3,wally113

In [14]:
graph_trace.get_edges()

  source target  weight
0  total      2       0
1  total      4       3
2  total      5       8
3      2      3       1